<%= form_for(@pagebook_usership) do |f| %>
  <% if @pagebook_usership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pagebook_usership.errors.count, "error") %> prohibited this pagebook_usership from being saved:</h2>

      <ul>
      <% @pagebook_usership.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pagebook_id %><br />
    <%= f.text_field :pagebook_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
