<h1>Listing pagebook_userships</h1>

<table>
  <tr>
    <th>Pagebook</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pagebook_userships.each do |pagebook_usership| %>
  <tr>
    <td><%= pagebook_usership.pagebook_id %></td>
    <td><%= pagebook_usership.user_id %></td>
    <td><%= link_to 'Show', pagebook_usership %></td>
    <td><%= link_to 'Edit', edit_pagebook_usership_path(pagebook_usership) %></td>
    <td><%= link_to 'Destroy', pagebook_usership, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pagebook usership', new_pagebook_usership_path %>
