<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :isbn %><br />
    <%= f.text_field :isbn %>
  </div>
  <div class="field">
    <%= f.label :root %><br />
    <%= f.text_field :root %>
  </div>
  <div class="field">
    <%= f.label :owner %><br />
    <!--<%= select :book,:owner,User.all.collect{|p| [p.email, p.id]}%>-->
    <!--<%= select :book,:owner,options_from_collection_for_select(User.all, :id, :email)%>-->
    <%= collection_select(:book, :owner, User.all, :id, :email) %>
    <!--<%= f.select :owner ,options_from_collection_for_select(User.all, :id, :email) %>-->
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
