<div class="container-fluid">
  <div class="row-fluid">

    <div class="span9 bookshell">

      <ul class="thumbnails">
        <% @books.each do |book|unless book.isbn.nil? then %>
            <li class="span2" style="height:120px;TEXT-ALIGN:center">
              <a href="<%= book_path(book) %>">
                <%=  image_tag "books/"+book.isbn+".jpg", {:width => 55}%>
                <p><%= book.title%></p>
                <p><%= book.author%></p>
              </a>
            </li>
        <% end end%>
      </ul>
      
      <!--<%= link_to 'New', new_book_path, :class => 'btn btn-primary' %>-->
      <div class="apple_pagination">
        <%= will_paginate @posts, :container => false %>
      </div>
      </div>

    <div class="span2" >
      <h4>Tags</h4>
      <ul class="nav nav-pills nav-stacked">
        <% @tagsArray.each do |tag|%>
        <li><a href='/books/tag/<%= tag%>'>
          <%= tag%>
        </a></li>
        <%end%>
       </ul>
    </div>

  </div>
</div>



