<p id="notice"><%= notice %></p>
<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>
<p>
  <b><%= if @book.root then puts "Root:" end%></b>
  <%= @book.root %>
</p>

<p>
  <b>Status:</b>
  <%= if @book.status!=0 then User.find(@book.status).email end%>
</p>

<p>
  <b>Owner:</b>
  <%= unless @book.owner.nil? then User.find(@book.owner).email end%>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
