<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @book_usership.user_id %>
</p>

<p>
  <b>Book:</b>
  <%= @book_usership.book_id %>
</p>

<p>
  <b>Type:</b>
  <%= @book_usership.type %>
</p>


<%= link_to 'Edit', edit_book_usership_path(@book_usership) %> |
<%= link_to 'Back', book_userships_path %>
