<%= form_for(@pagebook) do |f| %>
  <% if @pagebook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pagebook.errors.count, "error") %> prohibited this pagebook from being saved:</h2>

      <ul>
      <% @pagebook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :book_id %><br />
    <%= f.select :book_id, Book.all.map {|p| [ p.bookname, p.id ] },%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
