<h1>Listing ebooks</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Root</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ebooks.each do |ebook| %>
  <tr>
    <td><%= ebook.title %></td>
    <td><%= ebook.root %></td>
    <td><%= link_to 'Show', ebook %></td>
    <td><%= link_to 'Edit', edit_book_path(ebook) %></td>
    <td><%= link_to 'Destroy', ebook, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

</table>

<br />

<%= link_to 'New Ebook', new_ebook_path %>
