<!DOCTYPE html>
<html>
<head>
  <title>Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Page Inn</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Browse Books", books_path %></li>
          <li><%= if user_signed_in? then link_to 'My Books',showbooks_user_path(current_user.id)  end%></li>
          <li><%= link_to "Browse Ebooks",ebooks_path %></li>
          <li><%= if user_signed_in? then  link_to 'Logout',destroy_user_session_path
                  else link_to 'Login', pageinn_login_path  end %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <%= yield %>

<footer class="footer"><p>Company 2012</p></footer>
</div>
</body>
</html>
